.terraform/
!.terraform.lock.hcl
terraform.tfstate
terraform.tfstate.backup
terraform.tfstate.*.backup
terraform.tfvars
*.tfvars
*.tfvars.json
*.auto.tfvars
*.auto.tfvars.json
!nodes.auto.tfvars
!*.tfvars.example
labplan
